language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
  - "pip install flask"
# command to run tests, e.g. python setup.py test
script: 
#  - app/tests/flask_tests/run_flask_tests.sh
  - tests/q_tests.py

notifications:
  email:
    recipients:
      - cse403group@uw.edu
