language: python
python:
  - "2.7"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
  - "pip install flask"
  - "pip install coveralls"
# command to run tests, e.g. python setup.py test
script: 
 - python tests/q_tests.py 
 - python tests/q_server_tests.py
 - python tests/flask_tests/views_test.py
 - coverage run --source=app/q_classes.py tests/q_server_tests.py
 - coverage run --source=app/q_classes.py tests/q_tests.py
 - coverage run --source=app/views.py tests/flask_tests/views_test.py

after_success:
  - coveralls

notifications:
  email:
    recipients:
      - cse403group@uw.edu
