<!-- Header -->
<div class="header-content">
	<div class="line-up-banner">
		<img class="img-responsive" src="img/LineUp_Icon.png"/>
	</div>
	<hr>
</div>

<div class="container text-center main-page-content">
	<div class="jumbotron info-box">
		<h1>Create an Account</h1>
		<form action="#">
			<fieldset>
				<label for="username">Desired Username</label>
				<input class="login-input"  type="text" name="username" /> <br />

				<label for="password">Password</label>
				<input class="login-input" type="password" name="password" /> <br />

				<label for="repeatpassword">Repeat Password</label>
				<input class="login-input" type="password" name="repeatpassword" /> <br />
				--------------------- <br />
				<label for="firstname">First Name</label>
				<input class="login-input"  type="text" name="firstname" /> <br />

				<label for="lastname">Last Name</label>
				<input class="login-input"  type="text" name="lastname" /> <br />

				<label for="email">E-mail Address</label>
				<input class="login-input"  type="text" name="email" /> <br />
				<p>
					<button id="submit-acct-info" type="submit" class="btn btn-line-up btn-lg">Continue</button>
				</p>
			</fieldset>
		</form>
	</div>
</div>