<!-- Header -->
<div class="header-content" ng-include src="'partials/header.html'"></div>

<div class="container text-center main-page-content">
  <div id="title" class="text-center pagination-centered">
    <h1>Create a Queue</h1>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseBasic" href="">Basic Information</a>
        </h4>
      </div>
      <div id="collapseBasic" class="panel-collapse collapse in">
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class=" control-label text-right">Name</label>
              <div>
                <input type="text" class="form-control" id="name" placeholder="LineUp Queue" ng-model="queue.qname">
              </div> <div class="error-field ">{{ error.qname }}</div>
            </div>

            <div class="form-group">
              <label class="control-label text-right">Location</label>
              <div>
                <input type="text" class="form-control" id="location" placeholder="CSE Atrium" ng-model="queue.location">
              </div> <div class="error-field">{{ error.location }}</div>
            </div>

            <div class="form-group">
              <label class="control-label text-right">Keywords</label>
              <div>
                <textarea  class="form-control" rows="3" id="keywords" placeholder="CSE403, Project, Aphrodite" ng-model="queue.keywords"></textarea>Enter as a list seperated by commas.
              </div> <div class="error-field">{{ error.keywords }}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="" data-target="#collapseSize">Size Information</a>
        </h4>
      </div>
      <div id="collapseSize" class="panel-collapse collapse">
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label text-right">Max Queue Size</label>
              <div>
                <input type="text" class="form-control" id="maxsize" placeholder="42" ng-model="queue.max_size">
              </div> <div class="error-field">{{ error.keywords }}</div>
            </div>
            <div class="form-group">
              <label class="control-label text-right">Minimum Time Before Re-Join Queue</label>
              <div>
                <input type="text" ng-model='queue.min_wait_rejoin' class="form-control" id="minwait" placeholder="10"> In Minutes.
              </div> <div class="error-field">{{ error.keywords }}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapsePersonalization" href="">Personalization</a>
        </h4>
      </div>
      <div id="collapsePersonalization" class="panel-collapse collapse">
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label text-right">Website</label>
              <div>
                <input type="text" class="form-control" id="website" placeholder="https://courses.cs.washington.edu/courses/cse403/14sp/" ng-model="queue.website">
              </div> <div class="error-field">{{ error.website }}</div>
            </div>

            <div class="form-group">
              <label class="control-label text-right">Organization</label>
              <div>
                <input type="text" class="form-control" id="organization" placeholder="UW Computer Science and Engineering" ng-model="queue.organization">
              </div> <div class="error-field">{{ error.organization }}</div>
            </div>

            <div class="form-group">
              <label class="control-label text-right">Queue Entry Disclaimer</label>
              <div>
                <textarea class="form-control" rows="3" id="minwait" placeholder="If something happens, it is not our fault." ng-model="queue.disclaimer"></textarea>Will be displayed when users view your queue.
              </div> <div class="error-field">{{ error.disclaimer }}</div>
            </div>
            <div class="form-group">
              <label class="control-label text-right">Prompt For Information</label>
              <div>
                <textarea class="form-control" rows="3" id="addinfo" placeholder="Anything else?" ng-model="queue.prompt"></textarea>Will be displayed when users join your queue.
              </div> <div class="error-field">{{ error.prompt }}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseSecurity" href="">Security</a>
        </h4>
      </div>
      <div id="collapseSecurity" class="panel-collapse collapse">
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label text-right">Administrators</label>
              <div>
                <textarea class="form-control" rows="3" id="admins" placeholder="Cleopatra" ng-model="queue.admins"></textarea>Enter as a list seperated by commas.
              </div> <div class="error-field">{{ error.admins }}</div>
            </div>

            <div class="form-group">
              <label class="control-label text-right">Managers</label>
              <div>
                <textarea class="form-control" rows="3" id="managers" placeholder="Ramesses" ng-model="queue.managers"></textarea>Enter as a list seperated by commas.
              </div> <div class="error-field">{{ error.managers }}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pagination-centered create-queue-button">
    <button id="submit-acct-info" type="submit" class="btn btn-line-up btn-lg" ng-click='createNewQueue()'>Create Queue</button>
  </div>
</div>