<!-- Modal Window -->
<!-- This is a help slide-in for the queue information page-->
<div class="modal fade" id="help-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create a Queue&hellip;</h4>
      </div>
      <div class="modal-body">

      	<p>This is where you create a queue.  There are a number of fields to fill in for creating a queue. Only the name is required.  All others are optional.</p>
        <p><b>Name: </b>The name that will be used to identify your queue</p>
        <p></p>
        <p><b>Location: </b>The physical location in which your services are being rendered</p>
        <p></p>
        <p><b>Keywords: </b>A list of words that can be used to match your queue to search queries</p>
        <p></p>
        <p><b>Max Queue Size: </b>The maximum number of people allowed in your queue at a given time</p>
        <p></p>
        <p><b>Minimum Time Before Re-join Queue: </b>A time restraint for people that use your queue.  When a person leaves the queue, they will not be able to reenter themselves until this amount of time has passed.</p>
        <p></p>
        <p><b>Website: </b>If you have a website you would like display with your queue, enter it here.</p>
        <p></p>
        <p><b>Organization: </b>The name of your orgranization</p>
        <p></p>
        <p><b>Queue Entry Disclaimer: </b>A disclaimer that will be displayed on the page that clients use to join your queue</p>
        <p></p>
        <p><b>Prompt For Information: </b>If you would like a particular piece of information from each of the people joining your queue, you can enter a question here that clients will answer as they joing your queue</p>
        <p></p>
        <p><b>Administrators: </b>A list of lineup users that will be allowed to make administrative changes to this queue</p>
        <p></p>
        <p><b>Managers: </b>A list of lineup users that will have heightened access to the queue, but will not be able to change core settings</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
