<!-- Header -->
<div class="header-content text-right" ng-include src="'partials/login_header.html'"></div>

<div class="container text-center main-page-content">
	<div class="jumbotron info-box">
		<h1>Create an Account</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<form id="create-form" class="form-horizontal" role="form">
				<div id="error" class=" alert alert-danger hide">
          {{ error }}
        </div>
				<div class="form-group">
					<label for="username" class=" control-label">User Name</label>
					<div>
						<input class="form-control" placeholder="User Name" ng-model="user.uname">
					</div><div class="error-field ">{{ errors.uname }}</div>
				</div>
				<div class="form-group">
					<label for="password" class=" control-label">Password</label>
					<div>
						<input type="password" class="form-control" placeholder="Password" ng-model="user.pw">
					</div><div class="error-field ">{{ errors.pw }}</div>
				</div>
				<div class="form-group">
					<label for="repeatpassword" class=" control-label">Repeat Password</label>
					<div>
						<input class="form-control" type="password" name="repeatpassword" ng-model="user.pwx2" />
					</div>
				</div>
				<div class="form-group">
					<label for="firstname" class=" control-label">First Name</label>
					<div>
						<input class="form-control"  type="text" name="firstname" ng-model="user.fname" />
					</div><div class="error-field ">{{ errors.fname }}</div>
				</div>
				<div class="form-group">
					<label for="lastname" class=" control-label">Last Name</label>
					<div>
						<input class="form-control"  type="text" name="lastname" ng-model="user.lname" />
					</div><div class="error-field ">{{ errors.lname }}</div>
				</div>
				<div class="form-group">
					<label for="email" class=" control-label">E-mail Address</label>
					<div>
						<input class="form-control"  type="text" name="email" ng-model="user.email" />
					</div><div class="error-field ">{{ errors.email }}</div>
				</div>
				<div class="form-group">
					<div class="">
						<button id="submit-create" type="submit" class="btn btn-line-up" ng-click="createUser()">Create Account</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>