<!-- header image -->
		<div class="header-content">
			<div class="text-right">
				<div class="line-up-icon">
					<img class="pull-left img-responsive" src="img/LineUp_Icon.png"/>
				</div>
				<a href="#/home"><button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-home"></span>
				</button></a>
				<button type="button" class="btn btn-default btn-lg" disabled>
					<span class="glyphicon glyphicon-exclamation-sign"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg" disabled>
					<span class="glyphicon glyphicon-log-out"></span>
				</button>
			</div>
			<hr>
		</div>

		<div class="container text-center main-page-content">
			<div id="title" class="text-center pagination-centered">
				<h1>Create a Queue</h1>
			</div>
			<div class="panel-group col-md-10 col-md-offset-1">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-target="#collapseBasic" href="">Basic Information</a>
			      </h4>
			    </div>
			    <div id="collapseBasic" class="panel-collapse collapse in">
			      <div class="panel-body">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Name</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="name" placeholder="LineUp Queue" ng-model="queue.qname">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Location</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" id="location" placeholder="CSE Atrium" ng-model="queue.location">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Keywords</label>
									<div class="col-sm-5">
										<textarea  class="form-control" rows="3" id="keywords" placeholder="CSE403, Project, Aphrodite" ng-model="queue.keywords"></textarea>
									</div>
								</div>
							</form>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" href="" data-target="#collapseSize">Size Information</a>
			      </h4>
			    </div>
			    <div id="collapseSize" class="panel-collapse collapse">
			      <div class="panel-body">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-5 control-label text-right">Max Queue Size</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" id="maxsize" placeholder="42" ng-model="queue.max_size">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-5 control-label text-right">5 Minute Wait Size</label>
									<div class="col-sm-3">
										<input type="text" ng-model='five_min_wait' class="form-control" id="fiveminwait" placeholder="5">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-5 control-label text-right">Minimum Wait to Re-Join Queue</label>
									<div class="col-sm-3">
										<input type="text" ng-model='min_wait_rejoin' class="form-control" id="minwait" placeholder="10">
									</div>
								</div>
							</form>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-target="#collapsePersonalization" href="">Personalization</a>
			      </h4>
			    </div>
			    <div id="collapsePersonalization" class="panel-collapse collapse">
			      <div class="panel-body">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Website</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="website" placeholder="https://courses.cs.washington.edu/courses/cse403/14sp/">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Organization</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="organization" placeholder="UW Computer Science and Engineering">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Queue Entry Disclaimer</label>
									<div class="col-sm-6">
										<textarea class="form-control" rows="3" id="minwait" placeholder="If something happens, it is not our fault."></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Additional Information</label>
									<div class="col-sm-6">
										<textarea class="form-control" rows="3" id="addinfo" placeholder="Anything else?"></textarea>
									</div>
								</div>
							</form>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-target="#collapseSecurity" href="">Security</a>
			      </h4>
			    </div>
			    <div id="collapseSecurity" class="panel-collapse collapse">
			      <div class="panel-body">
			        <form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Administrators</label>
									<div class="col-sm-5">
										<textarea class="form-control" rows="3" id="admins" placeholder="Cleopatra"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Managers</label>
									<div class="col-sm-5">
										<textarea class="form-control" rows="3" id="managers" placeholder="Ramesses"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-4 control-label text-right">Who Can Join</label>

									<div class="col-sm-3 form-group">
										<div class="radio">
											<label>
												<input type="radio" name="whocanjoin" id="anylineup" value="anylineup" checked>
												Any LineUp Member
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="whocanjoin" id="anylink" value="anylink">
												Anyone with a Link
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="whocanjoin" id="both" value="both">
												Both
											</label>
										</div>
									</div>
									<!-- <div>
										<label>
											<input type="checkbox" id="active">
											Active immediately?
										</label>
									</div> -->
								</div>
							</form>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="text-center pagination-centered">
				<button id="submit-acct-info" type="submit" class="btn btn-line-up btn-lg" ng-click='createNewQueue()'>Create Queue</button>
			</div>
		</div>