<div class="container text-center main-page-content"><!-- Header -->
<div class="header-content text-right" ng-include src="'partials/login_header.html'"></div>
	<div class="jumbotron info-box">
			<p>
				Oops! Something went wrong.<br />
				Please report this as a bug.<br />
				<br />
				To report a bug, please email a description of the issue to lineup.bugs@gmail.com.<br />
				<br />
				We recommend that you follow the guidelines of a standard bug report format, and please
				review our bug list to keep from submitting an already known bug.<br />
				<br />
				Our dedicated technical support team will respond to your issue in a timely manner.<br />
			</p>
	</div>
</div>