<!-- Header -->
<div ng-init="init()" ng-controller="headerController">
	<div class="text-right">
		<div class="line-up-icon">
			<a href="#/home"><img class="pull-left img-responsive" src="img/LineUp_Icon.png"/></a>
		</div>
		<div class="username-wrapper"><p class="header-username">usernamespaceholderthatis32chars</p></div>
		<a href="#/home"><button id="home-button" type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-home"></span>
		</button></a>
		<!--<a href="#/home"><button id="edit-button" type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-edit"></span>
		</button></a> -->
		<button type="button" class="btn btn-default btn-lg" ng-click="displayHelp()">
			<span class="glyphicon glyphicon-question-sign"></span>
		</button>
		<a href="/logout"><button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-log-out"></span>
		</button></a>
	</div>
	<hr class="bar3">
</div>