<div class="info-page container text-center main-page-content">
	<!-- Header -->
	<div class="header-content text-right" ng-include src="'partials/login_header.html'"></div>
	
	<h1>Welcome to LineUp.</h1>
	<hr class="bar3">
	<p>
		LineUp is a versatile, web-based application that can be used to create a virtual line that adds people to the end and removes them, in order, from the front. We have created LineUp in order to to be useful to a wide variety of customers, so look for the option to join your lines using LineUp whenever you are about to partake in a popular activity. By joining your lines through our application, you will find that you spend less time actually standing in line, so that you can get back to your life. Use our QTracks visualization features to see the history of your lines, and you will quickly become a line master, always in the right place at the right time.
	</p>
	 
	<h1>Using the Software</h1>
	<hr class="bar3">
	<p>
		There are multiple methods that you can use to find and join the queues that are of interest to you. Many of our queues are accessible by a direct link that you might find on the organization’s website, meaning that you can join a queue without needing a LineUp account. Alternatively, you can create an account and log in to find a queue of interest by searching through nearby queues using keywords or a location.
	</p>
	<p>
		The interface of LineUp is designed around the idea that users should have full control of their ability to join and move around in a line, just like you would be able to do in a physical line, without needing to be at the location of the line. Simply enter your name and other optional information into the appropriate boxes in the form, click the “Join" and your position in the line has been recorded. It's that easy! When in a line, you can “Postpone” yourself -- the equivalent of letting one person cut you in a physical line -- or “Leave” the queue altogether.
	</p>
	<p>
		If your needs include the creation of a queue, LineUp can make the process easy. Our queues are fully customizable and manageable. Choose everything from the name, icon, and size limit, to the multiple users able to dequeue participants from the front of the line. Then, see how your queue is doing with our QTracks analytics.
	</p>
	<p>
		Our homepage (under construction!) can be found <a href="http://line-up.us">here</a>.
	</p>
	 
	<h1>Instructions</h1>
	<hr class="bar3">
	<h2>Creating an Account</h2>
	<p>
		To create an account, navigate to our <a href="http://line-up.us">site homepage</a> and click the "Sign Up" button.  You will be redirected to a list of information we will need about you.  Enter your desired username, password, and other data and click "Create Account".  If you entered all fields correctly you should be sent back to the site homepage so you can log in.
		<img src="img/HowToCreateAccount.jpg"></img>
	</p>
	<h2>Logging in</h2>
	<p>
		To log in simply enter the username and password you picked on our site.  After entering your log in information, click the "Login" button.  You should be redirected to your main page, which will have a list of all the queues you own, manage, and are a member of.
	</p>
	<h2>Navigating to Your User Homepage</h2>
	<p>
		If at anytime (while you are logged in) need to get to your user homepage click the house icon in the top right hand corner of the page you are on.
		<img src="img/HowToFindHome.jpg"></img>
	</p>
	<h2>Logging out</h2>
	<p>
		To log out click the box-arrow icon in the top right hand corner of your current page.
	</p>
	<h2>Creating a Queue</h2>
	<p>
		To create your own queue, from your user homepage click the "Create a New Queue" button towards the bottom of the page.
		<img src="img/HowToCreateQueue1.jpg"></img>
	</p>
	<p>
		You will be redirected to a page with four different information tabs you can fill in.  Only the first four fields are necessary to create a queue however (your queue's name, where it is, keywords associated with it, and the maximum number of people that can be in it at a given time).  The first three fields are in the tab titled "Basic Information" to open the other tabs simply click on their titles.
		<img src="img/HowToCreateQueue2.jpg"></img>
	</p>
	<p>
		Extra information about your queue can be added in the "Personalization" section.  The "Security" section is where you enter other owners (administrators) and managers of the queue.  When you have entered all of the necessary information, click the "Create Queue" button.  You will be redirected to your user homepage and your new queue will appear in the "Queues You Own" section.
	</p>
	<h2>Finding a Queue</h2>
	<p>
		To find a queue click the "Find a New Queue" button on your user homepage.  You will be redirected to a Search page.  Popular Queues are displayed at the bottom, simply click on them to go to their individual queue pages (where you can join them, leave them, or postpone yourself).  To search for a specific queue, enter the name (or a keyword) in the box above the "Search" button, and then press the "Search" button.  You will be redirected to a page filled with matching results, which can be accessed by clicking on them.
	</p>
	<h2>Joining a Queue</h2>
	<p>
		To join a queue simply click the "Join Queue" button on the left side of the individual queue page.  This page can be accessed by following the instructions in the "Finding a Queue" section above.  After clicking the button, you may be prompted for additional information that the queue has decided to be relevant.
		<img src="img/HowToJoinQueue.jpg"></img>
	</p>
	<h2>Leaving a Queue</h2>
	<p>
		To join a queue simply click the "Leave Queue" button on individual queue page.  You can get to this page by following the instructions in the "Finding a Queue" section above or by selecting the queue when on your user homepage (under the "Queues You're In" section).
		<img src="img/HowToLeaveQueue.jpg"></img>
	</p>
	<h2>Moving backwards in a Queue</h2>
	<p>
		To postpone yourself in a queue click the "Postpone" button on individual queue page.  You can get to this page by following the instructions in the "Finding a Queue" section above or by selecting the queue when on your user homepage (under the "Queues You're In" section).
	</p>
	<h2>Managing a queue</h2>
	<p>
		To edit a queue's members, click on a queue you own (in the "Queues You Own" section on your user homepage).  You will be redirected to a page where the members of your queue are in a list on the right and different controls are on your left.  Select users and then click buttons to do different operations. The buttons work as follows:
	</p>
	<ul>
		<li>"Settings" allows you to alter a queue's settings that were set when it was created.</li>
		<li>"First Person" will remove the person at the front of the queue and display their information.</li>
		<li>"Add" will prompt you for a name, and add that person to your queue.</li>
		<li>"Remove" will take the selected person out of your queue and display their information.</li>
		<li>"Close Queue" will delete your queue.</li>
	</ul>
	<p>
		Other buttons will only appear when certain members are selected:
	</p>
	<ul>
		<li>"Move Up" will push a person forward in the queue.</li>
		<li>"Move Down" will push a person backward in the queue.</li>
		<li>"Move to Front" will place a person at the head of the queue.</li>
		<li>"Move to Back" will place a person at the tail of the queue.</li>
	</ul>

	<h1>Having Trouble?</h1>
	<hr class="bar3">
	<p>
		If something does not seem right with the way LineUp is performing or behaving, please email a description of the issue to <a href="mailto:lineup.bugs@gmail.com">lineup.bugs@gmail.com</a>. We recommend that you follow the guidelines of a <a href="http://www.oracle.com/technetwork/articles/javase/bugreport-howto-135155.html">standard bug report format</a>, and please review our <a href="https://github.com/Line-Up-Admin/CSE-403-Spring2014/issues?state=closed">bug list</a> to keep from submitting an already known bug. Our dedicated technical support team will respond to your issue in a timely manner.
	</p>
</div>
