<div class="container text-center main-page-content">
<!-- Header -->
<div class="header-content text-right" ng-include src="'partials/login_header.html'"></div>  <div class="info-box">
    <h1>Getting in line, simplified.</h1>
    <h3>
    	LineUp simplifies virtual line management. Create an online queue and allow customers to join from anywhere on a mobile device.
    </h3>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <form id="login-form" class="form-horizontal" role="form">
        <div id="error" class=" alert alert-danger hide">
          {{ error }}
        </div>
        <div class="form-group">
          <label for="inputEmail3" class=" control-label">User Name</label>
          <div>
            <input class="form-control" placeholder="User Name" ng-model="user.uname">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class=" control-label">Password</label>
          <div>
            <input type="password" class="form-control" placeholder="Password" ng-model="user.pw">
          </div>
        </div>


        <!-- <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
        </div> -->

        <div class="form-group">
          <div>
            <a id="create-account" type="button" class="btn btn-default" href="" role="button" ng-click="signUp()">Sign Up</a>
            <button id="submit-login" type="submit" class="btn btn-line-up" ng-click="login()">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
	<p><a href="#/search" class="btn btn-line-up btn-lg btn-block" role="button">Find a Queue Anonymously</a></p>
</div>
