<!-- Header -->
<div class="header-content text-right">
	<div class="about">
		<font size="4">
      <a href="http://line-up-admin.github.io/CSE-403-Spring2014/"><u>About</u></a>
    </font>
  </div>
	<div class="line-up-banner">
		<img class="img-responsive" src="img/LineUp_Icon.png"/>
	</div>
	<br />
	<hr>
</div>

<div class="container text-center main-page-content">
	<div class="jumbotron info-box">
		<h1>Welcome!</h1>
			<label for="username">Username</label>
			<input class="login-input"  type="text" name="username" ng-model="user.uname"/> <br />

			<label for="password">Password</label>
			<input class="login-input" type="password" name="password" ng-model="user.pw"/> <br />
			<p>
				<div id="error" class="alert alert-danger hide">{{ error }}</div>
			</p>
			<a id="create-account" href="#/create_account" class="btn btn-line-up btn-lg" role="button">Create an Account</a>
			<button id="submit-login" type="submit" class="btn btn-line-up btn-lg" ng-click="login()">Login</button>
			</p>
	</div>
</div>