<!-- Header -->
<div class="header-content">
	<div class="line-up-banner">
		<img class="img-responsive" src="img/LineUp_Icon.png"/>
	</div>
	<hr>
</div>

<div class="container text-center main-page-content">
	<div class="jumbotron info-box">
		<h1>Welcome!</h1>
		<form action="#">
			<fieldset>
				<label for="username">Username</label>
				<input class="login-input"  type="text" name="username" /> <br />

				<label for="password">Password</label>
				<input class="login-input" type="password" name="password" /> <br />

				<p>
					<a id="create-account" href="#" class="btn btn-line-up btn-lg" role="button">Create an Account</a>
					<button id="submit-login" type="submit" class="btn btn-line-up btn-lg">Login</button>
				</p>
			</fieldset>
		</form>
	</div>
</div>