<!-- header image -->
<div class="header-content">
	<div class="text-right">
		<div class="line-up-icon">
			<img class="pull-left img-responsive" src="img/LineUp_Icon.png"/>
		</div>
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-home"></span>
		</button>
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-exclamation-sign"></span>
		</button>
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-log-out"></span>
		</button>
	</div>
	<hr>
</div>

<div class="queue_face container text-center">
	<img class="queue-portrait" src="img/default.png"/>
	<h1 class="queue-page-header">CLUE - Physics</h1>
</div>
<div class="queue_control container text-center">
	<div class="queue-status">
		5 min</br>
		<div class="progress queue_position">
			<div class="progress-bar" style="width: 60%;">
			</div>
		</div>
		12/19
	</div>
	<p class="buttons_control">
		<a href="#" id="btn-postpone" class="btn btn-line-up btn-lg" role="button">
			<span class="glyphicon glyphicon-time"></span></br>
			Postpone
		</a>
		<a href="#" id="btn-leave" class="btn btn-line-up btn-lg" role="button">
			<span class="glyphicon glyphicon-remove-sign"></span></br>
			Leave Queue
		</a>
	</p>
</div>