<!-- Modal Window -->
<!-- This is a help slide-in for the queue information page-->
<div class="modal fade" id="help-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Queue Admin&hellip;</h4>
      </div>
      <div class="modal-body">

      	<p>This is the Queue Administrator page where administrators can administer their queues:</p>
        <p></p><p></p><p></p>
        <p> <b>First Person: </b>This will remove the person at the front of the line.</p><p></p>
        <p> <b>Demote: </b> click on a person in the queue and click this button to move them back one position in the queue.</p>
        <p></p>
        <p> <b>Add: </b>this button is used to manually add anonymous persons to the back of the line.</p>
        <p></p>
        <p> <b>Remove: </b>click on a person in the queue list to select them, then click this button to remove them from the queue.</p>
        <p></p>
        <p> <b>View Details: </b>click on a person in the queue list to select them, then click this button to see any avilable details about that person.</p>
        <p></p>
        <p> <b>Settings: </b>this button will take you to a page where you can see and adjust settings for the queue you are currently viewing.</p>
        <p></p>
        <p> <b>Close Queue: </b>clicking this button blocks entrance to the queue. If you are an administrator or manager of a queue, you will maintain the ability to add and remove people form the queue.</p>
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
