<!-- Modal Window -->
<!-- This is a help slide-in for the queue information page-->
<div class="modal fade" id="help-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Queue Info&hellip;</h4>
      </div>
      <div class="modal-body">

      	<p>This is the Queue Information page.</p>
        <p>If you are not in the Queue, you can click <b>Join Queue</b> to add yourself to the end of the line.</p>
        <p>If you are already in the queue, you can click <b>postpone</b> to move yourself back by one position or <b>leave queue</b> to remove yourself from the queue</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
