<div class="main-page-content container">
<!-- Header -->
<div class="header-content" ng-include src="'partials/header.html'"></div>
  <div class="panel-heading">
    <h3>{{ queue.qname }}</h3>
    <h4>{{ queue.organization }}: {{ queue.location }}</h4>
    <a ng-if="queue.website != null" href="http://{{ queue.website }}">{{ queue.website }}</a>
  </div>
  <div class="panel-body">
    <div class="queue-portrait">
      <img src="img/default.png"/>
    </div>
    <div id="enqueued" class="queue_control text-center hide">
      <div class="queue-status">
        {{ queue.expected_wait }} min</br>
        <div class="progress queue-position">
          <div class="progress-bar" style="width: 60%;"></div>
        </div>
        Position {{ queue.member_position + 1 }} of {{ queue.size }}
      </div>
      <p class="buttons_control">
        <a id="btn-postpone" class="btn btn-line-up btn-lg" role="button" ng-click="postpone()">
          <span class="glyphicon glyphicon-time"></span></br>
          Postpone
        </a>
        <a id="btn-leave" class="btn btn-line-up btn-lg" role="button" ng-click="leaveQueue()">
          <span class="glyphicon glyphicon-remove-sign"></span></br>
          Leave Queue
        </a>
      </p>
    </div>
    <div id="notEnqueued" class="queue-control hide">
      <p class="button-join"><button id="btn-join" class="btn btn-line-up btn-lg btn-block" role="button" ng-click="promptForData()">
        <span class="glyphicon glyphicon-send"></span></br>
        Join Queue
      </button></p>
      <div class="queue-status">
        {{ queue.expected_wait }} min wait</br>
        {{ queue.size }} people
      </div>
    </div>
  </div>
  <div class="panel-footer">{{ queue.disclaimer }}</div>
</div>

<!-- This is a help slide-in for this page -->
<div class="help-window" ng-include src="'partials/queue_info_help.html'"></div>


<!-- Modal Window -->
<div class="modal fade" id="question-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Before You Join&hellip;</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div id="prompt" class="form-group">
            <label class="col-sm-4 control-label text-right">{{ queue.prompt }}</label>
            <div class="col-sm-5">
              <textarea class="form-control" rows="3" id="other-info" ng-model="optional_data"></textarea>
            </div>
          </div>
          <div id="name" class="form-group">
            <label class="col-sm-4 control-label text-right">What is your name? </label>
            <div class="col-sm-5">
              <input type="text" class="form-control"  ng-model="uname"></input>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="joinQueue()">Join Queue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
