<div class="main-page-content container">
<!-- Header -->
<div class="header-content" ng-include src="'partials/header.html'"></div>	<div class="queue-face text-center">
		<img class="queue-portrait" src="img/default.png"/>
		<h1 class="queue-page-header">{{queueInfo.qname}}</h1>
	</div>
	<div class="control-list container text-center">
		<div class="queue-status">
			Expected Wait Time: {{ queueInfo.expected_wait }} minutes</br>
			People In Line: {{ queueInfo.size }}
		</div>
		<div class="queue-member-listing">
			<select id="list-group">
				<option class="list-group-item" ng-repeat='person in member_list'>{{ person.uname }}</option>
			</select>
		</div>
	</div>
	<div class="control-options container text-center">
		<p class="control-buttons">
			<button id="btn-settings" class="btn btn-line-up btn-lg" role="button" ng-click='redirectToEditQueue()'>
				<span class="glyphicon glyphicon-cog"></span></br>
				Settings
			</button>
			<button id="btn-view-details" class="btn btn-line-up btn-lg" role="button" ng-click='dequeueFirstPerson()'>
				<span class="glyphicon glyphicon-arrow-up"></span></br>
				First Person
			</button>
			<button id="btn-view-details" class="btn btn-line-up btn-lg" role="button" ng-click="viewDetails()">
				<span class="glyphicon glyphicon-zoom-in"></span></br>
				View Details
			</button>
			<button id="btn-add" class="btn btn-line-up btn-lg" role="button" data-toggle="modal" data-target="#addModal">
				<span class="glyphicon glyphicon-plus"></span></br>
				Add
			</button>
			<button id="btn-remove" class="btn btn-line-up btn-lg" role="button" ng-click='dequeueSelectPerson()'>
				<span class="glyphicon glyphicon-minus"></span></br>
				Remove
			</button>
			<button id="btn-demote" class="btn btn-line-up btn-lg" role="button" ng-click='demoteSelectPerson()'>
				<span class="glyphicon glyphicon-star"></span></br>
				Demote
			</button>
			<!-- <button id="btn-begin-closing" class="btn btn-line-up btn-lg" role="button" disabled>
				<span class="glyphicon glyphicon-ban-circle"></span></br>
				Begin Closing
			</button> -->
			<button id="btn-close-queue" class="btn btn-line-up btn-lg" role="button" ng-click='setActive()' value=0>
				<span class="glyphicon glyphicon-remove"></span></br>
				{{ setActiveStatusTo }}
			</button>
		</p>
	</div>
</div>

<!-- This is a help slide-in for this page -->
<div class="help-window" ng-include src="'partials/queue_admin_help.html'"></div>

<!-- Modal Window -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Add a person to this line</h4>
    </div>
    <div class="modal-body">
    	<div id="error" class=" col-md-6 col-md-offset-3 alert alert-danger hide">
        {{ errors.error_message }}
      </div>
    	<form class="form-horizontal" role="form">
		    <div id="name" class="form-group">
					<label class="col-sm-4 control-label text-right">Name: </label>
	        <div class="col-sm-5">
						<input type="text" class="form-control"  ng-model="user.uname"></input><div class="error-field col-sm-8">{{ errors.uname }}</div>
	        </div>
	      </div>
		    <div id="optional-data" class="form-group">
		      <label class="col-sm-4 control-label text-right">{{ queueInfo.prompt }}: </label>
		      <div class="col-sm-5">
		        <textarea class="form-control" rows="3" id="other-info" ng-model="user.optional_data">
		        </textarea> <div class="error-field col-sm-8">{{ errors.optional_data }}</div>
		      </div>
		    </div>
		  </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="dismissModal()">Cancel</button>
      <button type="button" class="btn btn-primary" ng-click="adminAdd()">Add to queue</button>
    </div>
  </div>
</div>
</div>

<!-- Modal Window -->
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Details</h4>
    </div>
    <div class="modal-body">
    	<p> <strong>Name:</strong> {{ userDetails.uname }}
    	<p>
    		<strong>{{ queueInfo.prompt }}</strong> {{ userDetails.optional_data }}
    	</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>


<!-- Version 9:22pm -->
