<!-- Header -->
<div class="header-content">
	<div class="text-right">
		<div class="line-up-icon">
			<a href="index.html" ><img class="pull-left img-responsive" src="img/LineUp_Icon.png"/></a>
		</div>
		<a type="button" class="btn btn-default btn-lg" href = "#/">
			<span class="glyphicon glyphicon-home"></span>
		<a/>
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-exclamation-sign"></span>
		</button>
		<button type="button" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-log-out"></span>
		</button>
	</div>
	<hr>
</div>

<div class="container text-center main-page-content">
	<div class="jumbotron info-box">
		<h1>Search Queues</h1>
		<form action="#">
			<fieldset>
				<label for="keywords">Keywords</label>
				<input class="login-input" type="text" name="keywords" /> <br />

				<label for="location">Location</label>
				<input class="login-input" type="text" name="location" /> <br />

				<p>
					<button id="submit-search-info" type="submit" class="btn btn-line-up btn-lg">Find Queues</button>
				</p>
			</fieldset>
		</form>
	</div>

	<h1>Popular Queues</h1>
	<div class="popular-queues">
		<div ng-repeat="queueInfo in queueInfos">
		<a href="#/queue_info/{{ queueInfo.qid }}">
		<div class="queue">
			<img class="queue-img" src="img/CLUE_phys.png"/>
			<p class="queue-name">{{ queueInfo.qname }} </p>
			<p class="time-left">{{ queueInfo.expected_wait }} min</p>
		</div>
	</a>
</div>
	</div>
</div>