<div class="container text-center main-page-content">
<!-- Header -->
<div class="header-content" ng-include src="'partials/header.html'"></div>	<div id="search-content" class="jumbotron info-box">
	<div id="error" class="alert alert-danger hide"> {{ errors.error_message }}
	</div>
		<h1>Search Queues</h1>
		<form>
			<fieldset>
				<input id="input-search-info" type="text" class="form-control" ng-model="query"> <button id="submit-search-info" class="btn btn-line-up btn-lg" ng-click="search()">Search</button>
			</fieldset>
		</form>
	</div>

	<h3 id="results">Popular Queues</h3>
	<div class="popular-queues">
		<div ng-repeat="queueInfo in queueInfos">
			<a href="#/queue_info/{{ queueInfo.qid }}">
				<div class="queue">
					<img class="queue-img" src="img/default.png"/>
					<p>
						{{ queueInfo.qname }}: {{ queueInfo.location }} {{ queueInfo.organization }} <br />
						<span class="position-info" ng-if="queueInfo.expected_wait > 0">{{ queueInfo.size }} in Line - Expected Wait: {{ queueInfo.expected_wait }} minutes</span>
						<span class="position-info" ng-if="queueInfo.expected_wait <= 0">{{ queueInfo.size }} in Line - Expected Wait: less than 1 minute</span>
					</p>
				</div>
			</a>
		</div>
	</div>
</div>

<!-- This is a help slide-in for this page -->
<div class="help-window" ng-include src="'partials/search_help.html'"></div>