<!-- Header -->
<div class="header-content" ng-include src="'partials/header.html'"></div>

<div class="container text-center main-page-content">
	<div class="jumbotron info-box">
		<h1>Search Queues</h1>
		<form>
			<fieldset>
				<input type="text" class="form-control" ng-model="query"> <button id="submit-search-info" class="btn btn-line-up btn-lg" ng-click="search()">Search</button>

			</fieldset>
		</form>
	</div>

	<h1 id="results">Popular Queues</h1>
	<div class="popular-queues">
		<div ng-repeat="queueInfo in queueInfos">
			<a href="#/queue_info/{{ queueInfo.qid }}">
			<div class="queue">
				<img class="queue-img" src="img/CLUE_phys.png"/>{{ queueInfo.qname }}: {{ queueInfo.expected_wait }} min
			</div>
			</a>
		</div>
	</div>
</div>