<!-- Modal Window -->
<!-- This is a help slide-in for the user's home page-->
<div class="modal fade" id="help-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">HomePage Info&hellip;</h4>
      </div>
      <div class="modal-body">

      	<p>This is your Home page.  It contains 3 categories of queues that you are associated with.</P><p></p>

      	<p><b>Queues You Own</b>: Queues that you have complete administrative control over</p>
      	<p><b>Queues You Manage</b>: Queues that you have managerial control over.  For example, you are able to dequeue people from this line and turn it on or off, but you will not be able to change details of the queue like its capacity and its name</p>
      	<p><b>Queues You're In</b>: Queues that you are currently waiting in</p>
      	<p></p>
      	<p>Clicking on any of the categories will caues that list to collapse or appear.</p>
      	<p></p>
      	<p>Cliking on any of the queues will take you to the information page for that queue.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
