<div class="container text-center main-page-content">
<!-- Header -->
<div class="header-content" ng-include src="'partials/header.html'"></div>
	<h1>Your Queues</h1>
	<div class="current-queues">
		<div class="panel panel-default">
			<div class="panel-heading"><a data-toggle="collapse" data-target="#collapseOwned" href="">Queues You Own</a></div>
			<div id="collapseOwned" class="panel-collapse collapse in panel-body">
				<ul class="list-group">
					<a class="list-group-item" ng-repeat="queue in queueInfos.queues_admin" href="#/admin/{{ queue.qid }}">
						<img class="queue-img" src="img/default.png"/>{{ queue.qname }}: Current Size: {{ queue.size }}
					</a>
				</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><a data-toggle="collapse" data-target="#collapseManaging" href="">Queues You Manage</a></div>
			<div id="collapseManaging" class="panel-collapse collapse panel-body">
				<ul class="list-group">
					<a class="list-group-item" ng-repeat="queue in queueInfos.queues_manager" href="#/admin/{{ queue.qid }}">
						<img class="queue-img" src="img/default.png"/>{{ queue.qname }}: Current Size: {{ queue.size }}
					</a>
				</ul>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><a data-toggle="collapse" data-target="#collapseIn" href="">Queues You're In</a></div>
			<div id="collapseIn" class="panel-collapse collapse panel-body">
				<ul class="list-group">
					<a class="list-group-item" ng-repeat="queue in queueInfos.queues_in" href="#/queue_info/{{ queue.qid }}">
						<img class="queue-img" src="img/default.png"/>{{ queue.qname }}: Position {{queue.member_position + 1 }} of {{ queue.size }} Estimated Wait: {{ queue.expected_wait }} min
					</a>
				</ul>
			</div>
		</div>
	</div>
	<p><a href="#/create_queue" class="btn btn-line-up btn-lg btn-block" role="button">Create a New Queue</a></p>
	<p><a href="#/search" class="btn btn-line-up btn-lg btn-block" role="button">Find a New Queue</a></p>
</div>

<!-- help info slide-in for this page-->
<div class="help-window" ng-include src="'partials/user_home_help.html'"></div>
