<div class="container text-center main-page-content">
<!-- Header -->
<div class="header-content" ng-include src="'partials/header.html'"></div>
	<h1>Your Queues</h1>
	<p>
		<a href="#/create_queue" class="user-home-btn btn btn-line-up btn-lg" role="button">Create a New Queue</a>
		<a href="#/search" class="user-home-btn btn btn-line-up btn-lg" role="button">Find a New Queue</a>
	</p>
	<div class="current-queues">
		<div class="panel panel-default">
			<a data-toggle="collapse" data-target="#collapseIn" href=""><div class="panel-heading">Queues You're In</div></a>
			<div id="collapseIn" class="panel-collapse collapse panel-body">
				<ul class="list-group">
					<a class="list-group-item" ng-repeat="queue in queueInfos.queues_in" href="#/queue_info/{{ queue.qid }}">
						<img class="queue-img" src="img/default.png"/>{{ queue.qname }}: Position {{queue.member_position + 1 }} of {{ queue.size }} Estimated Wait: {{ queue.expected_wait }} min
					</a>
				</ul>
				<div id="empty-in" class="hide">
					<p>You are not in any queues right now.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<a data-toggle="collapse" data-target="#collapseOwned" href=""><div class="panel-heading">Queues You Own</div></a>
			<div id="collapseOwned" class="panel-collapse collapse in panel-body">
				<ul class="list-group">
					<a class="list-group-item" ng-repeat="queue in queueInfos.queues_admin" href="#/admin/{{ queue.qid }}">
						<img class="queue-img" src="img/default.png"/>{{ queue.qname }}: Current Size: {{ queue.size }}
					</a>
				</ul>
				<div id="empty-admin" class="hide">
					<p>You do not own any queues right now.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<a data-toggle="collapse" data-target="#collapseManaging" href=""><div class="panel-heading">Queues You Manage</div></a>
			<div id="collapseManaging" class="panel-collapse collapse panel-body">
				<ul class="list-group">
					<a class="list-group-item" ng-repeat="queue in queueInfos.queues_manager" href="#/admin/{{ queue.qid }}">
						<img class="queue-img" src="img/default.png"/>{{ queue.qname }}: Current Size: {{ queue.size }}
					</a>
				</ul>
				<div id="empty-manager" class="hide">
					<p>You do not manage any queues right now.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- help info slide-in for this page-->
<div class="help-window" ng-include src="'partials/user_home_help.html'"></div>
